*
{
  margin: 0;
  padding: 0;
}

header{
  backgrround-image: url(PH_Logo.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-nav
{
  float: left;
  list-style: none;
  margin-top: 30px;
}

.main-nav
{
  float:right;
  list-style: none;
  margin-top: 30px;

}

.home-nav li
{
  display:inline-block;
}

.main-nav li
{
  display:inline-block;
}

.main-nav li a
{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;

}
