*
{
  margin: 0;
  padding: 0;
}

/*----NAVIGATION----*/

#nav-bar
{
  position: sticky;
  top:0;
  z-index: 10;
}

.navbar-brand img
{
  height: 50px;
  padding-left: 30px;
}

.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li
{
  float: rigth;
  text-align: left;
}

#nav-bar ul li a:hover{
  color: #04cbfa!important;
}

.navbar-toggler
{
  border: none!important;
}


.nav-link
{
  color: #ff8959!important;
  font-weight: 600;
  font-size: 18px;
}

.navbar-toggler-icon
{
  color: #ff8959!important;
}

/*---Slider---*/

#slider
{
  width: 100%
}

.carousel-caption
{
  top:50%;
  transform: translateY(-50%);
  bottom: initial!important;
  background-color: rgba(0,0,0,.70);
  border-radius: 16px;
}

.carousel-caption h5
{
  color: #fff;
  font-size: 42px;
}

.carousel-caption p
{
  margin-left:10px;
  margin-right: 10px;
}

/*---About---*/
#about
{
  padding-top: 50px;
  padding-bottom: 5 0px;
  color: #555;
}

#about h1
{
  text-align: center;
  color: #00002d;
  padding-bottom: 0px;
}

#about h1::after
{
  content:'';
  background: #f88859;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 5px;
}


#about h2
{
  text-align: center;
  color: #00002d;
  padding-bottom: 0px;
}
#about h2::after
{
  content:'';
  background: #00002d;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 5px;
}
.center
{
  text-align: center!important;
}

.btn
{
  margin-top: 20px!important;
  margin-bottom: 30px!important;
}

.btn-one
{
  border: 3px solid!important;
  border-color: #00002d!important;
  padding: 10px!important 30px!important;
  text-decoration: none;
  color: #555!important;
  font-size: 13px!important;
  text-transform: uppercase;
}

.btn-one:hover
{
  background-color: #f88859;
   transition: all 0.5s ease-in;
}

.edu-content
{
  padding-top: 15px;
}

.exp-content
{
  padding-top: 15px;
}

.skills-bar p
{
  margin-bottom: 6px;
  font-weight: 600;
}

.progress-Bar
{
  border-radius: 16px;
  background-color: #f88859!important;
}
.progress
{
  border-radius: 16px!important;
  margin-bottom: 20px;
}

/*------News------*/
#news
{
  padding-top: 20px;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}
#news h1
{
  text-align: center;
  color: #00002d;
  padding-bottom: 0px;
}
#news h1::after
{
  content:'';
  background: #f88859;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 5px;
}

/*-----RESEARCH------*/
#research
{
  background-color:  #fff;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#research h1
{
  text-align: center;
  color: #00002d;
  padding-bottom: 0px;
}
#research h1::after
{
  content:'';
  background: #f88859;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 5px;
}

/*-----PUBS-----------*/
#pubs
{
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #777;
}
#pubs h1
{
  text-align: center;
  color: #00002d;
  padding-bottom: 0px;
}
#pubs h1::after
{
  content:'';
  background: #f88859;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 5px;
}
#pubs p
{
  text-align: center;
}


/*----PRESENTATIONS----*/
#presentations
{
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #777;
}
#presentations h1
{
  text-align: center;
  color: #00002d;
  padding-bottom: 0px;
}
#presentations h1::after
{
  content:'';
  background: #f88859;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 5px;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #efefef;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #00002d;
  color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/*-----CONTACT----*/
#contact
{
  background: #efefef;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #777;
}
#contact h1
{
  text-align: center;
  color: #00002d;
  padding-bottom: 0px;
}
#contact h1::after
{
  content:'';
  background: #f88859;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 5px;
}
.contact-form
{
  padding: 15px;
}
.form-group
{
  padding:5px;
}
.form-control
{
  border-radius: 0!important;
  border: none!important;
}
::placeholder
{
  color: #999 !important;
}

.contact-info .fa
{
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}

/*---FOOTER----*/
#FOOTER
{
  background: #333;
  color: #fff;
  padding: 12px;
}
.fa-heart-o
{
  margin: 3px;
  color: red;
}

#UC
{
  background: #fff;
  color: #00002d;
  padding: 12px;
}
#UC h1
{
  text-align: center;
  color: #00002d;
  padding-bottom: 0px;
}
#UC h1::after
{
  content:'';
  background: #f88859;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 5px;
}
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
